body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leftPanel{ width: 15%; float: left; min-height: 3000px; background-color: #312E81; color: #fff;}
.nav-link{ color: #A5B4FD; padding: 0px; font: bold;}
.nav-link:hover{ color: #000;}

.rightPanel{ width:80%; float: left;}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* You can also style the SVG directly using CSS */
.home svg {
  width: 200px;
  height: 200px;
}

.thick-line {
  height: 4px; /* Adjust the height as per your requirement */
  background-color: black; /* Adjust the color as per your requirement */
}

.space {
  height: 20px; /* Adjust the height as per your requirement */
}

.active {
  background-color: #D1D5DB; /* Or any other desired highlight color */
  color: #FFFFFF;
  height: 30px;
  width: 210px;
}
